<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Location Add Form</h1>
    <form method="post" action="add">
        <p><input type="text" name="name" placeholder="Location Name"></p>
        <p><input type="text" name="catagory" placeholder="Location catagory" required></p>
        <p><input type="number" step="any" name="longitude" placeholder="Longitude"></p>
        <p><input type="number" step="any" name="latitude" placeholder="Latitude"></p>
        <input type="submit" value="Add" />
    </form>
</body>

</html>