<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Location Delete Form</h1>
    <form method="post" action="delete">
        <p>Insert the name of location you want to delete</p>
        <p><input type="text" name="name" placeholder="Location Name" required></p>
        <input type="submit" value="Delete" />
    </form>
</body>

</html>