<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     <a href="add">Add Location</a></br>
     <a href="delete">Remove Location</a></br>
     <a href="update">Update Location</a>
  </body>
</html>
