<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Location update Form</h1>
    <form method="post" action="update">
        <p>Insert the name of location you want to update</p>
        <p><input type="text" name="oldname" placeholder="Old Location Name"></p>
        <p>Insert the new Information</p>
        <p><input type="text" name="name" placeholder="New Location Name"></p>
        <p><input type="text" name="catagory" placeholder="New Location catagory" required></p>
        <p><input type="text" name="longitude" placeholder="New Longitude"></p>
        <p><input type="text" name="latitude" placeholder="New Latitude"></p>
        <input type="submit" value="Update" />
    </form>
</body>

</html>