<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>The message is <b><em><%= message %></em></b></p>
  </body>
</html>